<form action="/usertest/Create" method="POST" class="form-signin">
      <h2 class="form-signin-heading"> Crear Usuario Test
      <div class="control-group"> 
            <input type="text" class="form-control" placeholder="ID" name="id">
      </div>
      <div class="control-group"> 
            <input type="text" class="form-control" placeholder="Nombre" name="name">
      </div>
      <div class="control-group">
            <input type="text" class="form-control" placeholder="Apellidos" name="lastname">
      </div>
      <div class="control-group">
            <input type="text" class="form-control" placeholder="Email" name="email">
      </div>
      <div class="control-group">
            <input type="password" class="form-control" placeholder="Contraseña" name="encryptedpassword">
      </div>
      <br/>
      <input type="submit" class="btn btn-lg btn-primary btn-block" value="Create User"/>
      <input type="hidden" name="_csrf" value="<%=_csrf %>"/>
</form>